# used for vector config
export VECTOR_CONFIG_DIR=`pwd`

# adjust for your environment
export DT_BASE_URL=https://{YOUR-TENANT}.live.dynatrace.com
export DT_API_TOKEN={YOUR-API-TOKEN}

# adjust to info, debug as needed
export VECTOR_LOG=info

# adjust this as required.  Vector by defaults to /var/lib/vector
# this repo will put in local folder for easier cleanup
export VECTOR_DATA_DIR=`pwd`